POSTGRES_DB=agentchat
POSTGRES_USER=agentchat
POSTGRES_PASSWORD=change_me
APP_ENCRYPTION_KEY=QvwtE6F0jZ0R8AhdL2_RfM9dK9h2gcNf3s1zP28A5I8=
AGENTCHAT_BASIC_AUTH_USER=admin
AGENTCHAT_BASIC_AUTH_PASS=change_me_now
